@use '@/styles/variables' as *;
@use '@/styles/breakpoints' as breakpoint;
@use '@/styles/colors' as color;

.faqList {
  display: flex;
  flex-direction: column;
  border-top: 2px solid color.$midnight-900;
}

.noResult {
  border-bottom: 1px solid color.$gray-200;
  padding: $space-box2 0;
  text-align: center;
}

.noResultContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.moreButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $btn-xlg2;
  font-size: $list-more-size;
  margin-top: 16px;
  gap: 8px;
  vertical-align: middle;
}

.plusIcon {
  position: relative;
  width: 12px;
  height: 12px;

  &::before,
  &::after {
    content: '';
    position: absolute;
    background-color: currentColor;
    border-radius: 1px;
    top: calc(50% - 1px);
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::before {
    width: 10px;
    height: 2px;
  }

  &::after {
    width: 2px;
    height: 10px;
  }
}
