@use '@/styles/variables' as *;
@use '@/styles/colors' as color;
@use '@/styles/breakpoints' as breakpoint;

.title {
  height: $h1-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: $h1-fsize;
}

.description {
  font-size: $h1-fsize-sm;
  font-weight: 400;
  margin-top: 0.4em;
  text-align: center;
  word-break: keep-all;
  font-style: normal;
}

.tabList {
  display: flex;
  margin-bottom: $px-lg;
  height: $btn-xlg2;
}

.tabButton {
  flex: 1;
  background-color: #fff;
  border: 1px solid color.$midnight-100;
  font-weight: 600;
  font-size: $tab-fsize;
}

.tabButton[aria-selected='true'] {
  border-color: color.$midnight-900;
  background-color: color.$midnight-900;
  color: #fff;
}
