$px-md: var(--px-md);
$px-lg: var(--px-lg);
$px-xlg: var(--px-xlg);
$space-xsm: var(--space-xsm);
$space-xsm2: var(--space-xsm2);
$space-sm: var(--space-sm);
$space-sm2: var(--space-sm2);
$space-md: var(--space-md);
$space-md2: var(--space-md2);
$space-md3: var(--space-md3);
$space-box: var(--space-box);
$space-box2: var(--space-box2);

$heading-2: var(--heading-2);
$heading-4: var(--heading-4);
$heading-info: var(--heading-info);
$heading-box: var(--heading-box);
$h1-fsize: var(--h1-fsize);
$h1-fsize-sm: var(--h1-fsize-sm);
$tab-fsize: var(--tab-fsize);
$list-more-size: var(--list-more-size);
$gallery-list-title-size: var(--gallery-list-title-size);
$board-heading-fsize: var(--board-heading-fsize);
$faq-list-a-size: var(--faq-list-a-size);

$heading-2-margin: var(--heading-2-margin);
$heading-4-margin: var(--heading-4-margin);
$gallery-list-title-space: var(--gallery-list-title-space);
$gallery-list-space: var(--gallery-list-space);

$input-md: var(--input-md);
$input-md-fsize: var(--input-md-fsize);
$textarea-md: var(--textarea-md);
$btn-md: var(--btn-md);
$btn-xlg: var(--btn-xlg);
$btn-xlg2: var(--btn-xlg2);
$btn-xxlg: var(--btn-xxlg);
$btn-xxlg-size: var(--btn-xxlg-size);

$ic-sm: var(--ic-sm);
$ic-md: var(--ic-md);
$ic-lg: var(--ic-lg);
$ic-xlg: var(--ic-xlg);
$ic-xlg2: var(--ic-xlg2);
$ic-xxlg: var(--ic-xxlg);

$max-width: var(--max-width);
$header-height: var(--header-height);
$footer-height: var(--footer-height);
$side-padding: var(--side-padding);
$bottom-padding: var(--bottom-padding);
$h1-height: var(--h1-height);
$search-bar-width: var(--search-bar-width);

$line-height-sm: var(--line-height-sm);
$line-height-md: var(--line-height-md);
$line-height-lg: var(--line-height-lg);
$cubic-bezier-primary: var(--cubic-bezier-primary);
$gallery-list-length: var(--gallery-list-length);

$board-head-padding: var(--board-head-padding);
$board-body-padding-v: var(--board-body-padding-v);
$board-body-padding-h: var(--board-body-padding-h);
$board-media-max-width: var(--board-media-max-width);
$board-footer-col-indent: var(--board-footer-col-indent);

$faq-list-a-padding-v: var(--faq-list-a-padding-v);
$faq-list-a-padding-h: var(--faq-list-a-padding-h);
$faq-list-q-padding: var(--faq-list-q-padding);
